# Ignorar archivos de compilación de Java
*.class

# Ignorar archivos de log
*.log

# Archivos de BlueJ (si no los estás usando, puedes ignorarlos)
*.ctxt

# Archivos temporales de herramientas móviles (si no los usas, puedes ignorarlos)
.mtj.tmp/

# Ignorar archivos de paquetes como .jar, .war, .rar (si no estás generando estos, puedes ignorarlos)
#*.jar
#*.war
#*.nar
#*.ear
#*.zip
#*.tar.gz
#*.rar
